<% provide(:title,"#{@recipe.name}")%>
<div class="container mb-5">
  <div class="recipe card pb-5 pr-3">
    <div class="row">
      <h2 class="mb-3 offset-1">
        <%= @recipe.name %>
      </h2>
      <div class="offset-10 col-1">
        <%= link_to edit_recipe_path(@recipe.id) do%>
          <i class="fas fa-edit"></i>
        <% end %>
        |
        <%= link_to recipe_path(@recipe.id),method: :delete do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-5 offset-1">
        <%= attachment_image_tag @recipe.recipe_images[0], :image,:fill,300,300,format: 'jpeg',fallback: "795px-No_image.jpg",size:'300x300' %>
      </div>

      <div class="offset-1 col-5">
        <div class="description mb-4">
          <h5>説明</h5>
          <%=@recipe.explanation%>
        </div>
        <div class="mb-4">
          <h5>材料</h5>
          <table class="table material">
            <% @recipe.materials.each do |material| %>
              <tr>
                <td><%= material.name %></td>
                <td><%= material.quantity %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>

    <div class="row mt-3 offset-1">
      <div class="average-review-rating" data-score=<%= @average_rating %>></div>
      <p><%= @recipe.recipe_comments.count %>reviews</p>
    </div>
    <div class="row offset-1 mt-1">
      <span class="pr-2">お気に入り数</span>
        <i class="fas fa-thumbs-up" style="color: #17a2b8;"><%= @recipe.my_recipes.count %></i>
    </div>
    <div class="row mt-4">
      <div class="mx-2">
        <%= attachment_image_tag @recipe.recipe_images[1], :image,:fill,100,120 %>
      </div>
      <div class="mx-2">
        <%= attachment_image_tag @recipe.recipe_images[2], :image,:fill,100,100 %>
      </div>
      <div class="mx-2">
        <%= attachment_image_tag @recipe.recipe_images[3], :image,:fill,100,100 %>
      </div>
      <div class="mx-2">
        <%= attachment_image_tag @recipe.recipe_images[4], :image,:fill,100,100 %>
      </div>
    </div>
    <div class="row mt-3 offset-1 mb-3">
      <h4>調理行程</h4>
    </div>
    <div class="row pl-5 mt-4 offset-1">
      <%= simple_format(@recipe.cook_text) %>
    </div>
  </div>
  
  <h4 class="row mt-5">Comments</h4>
  <% @recipe.recipe_comments.each do |comment| %>
    <div class="comment-index border-bottom">
      <ul style="list-style:none;">
        <li><%= comment.user.nickname %></li>
        <li><%= comment.text %></li>  
        <li><div class="rating_stars" data-score="<%= comment.rating %>"></div></li>
      </ul>
      </div>
    <% end %>
</div>



