 <% provide(:title,"#{@recipe.name}")%>
<div class="container">
 <h2 class="row mb-3">
  <%= @recipe.name %>
 </h2>
  <div class="row">
   <div class="col-5">
    <%= attachment_image_tag @recipe.recipe_images[0], :image,:fill,300,300 %>
   </div>

   <div class="offset-2 col-5">
    <div class="description mb-4">
     <h5>説明</h5>
     <%=@recipe.explanation%>
   </div>
   <div class="mb-4">
    <h5>材料</h5>
    <table class="material">
     <% @recipe.materials.each do |material| %>
      <%= material.name %>
      <%= material.quantity %>
     <% end %>
    </table>
   </div>
  </div>
 </div>

 <div class="row mt-4">
  <div class="mx-2">
   <%= attachment_image_tag @recipe.recipe_images[1], :image,:fill,100,120 %>
  </div>
  <div class="mx-2">
   <%= attachment_image_tag @recipe.recipe_images[2], :image,:fill,100,100 %>
  </div>
  <div class="mx-2">
   <%= attachment_image_tag @recipe.recipe_images[3], :image,:fill,100,100 %>
  </div>
  <div class="mx-2">
   <%= attachment_image_tag @recipe.recipe_images[4], :image,:fill,100,100 %>
  </div>
 </div>
 <div class="row mt-5">
  <h4>調理行程</h4>
 </div>
  <div class="row">
   <%=@recipe.cook_text%>
  </div>
</div>


