<div class="container mb-5">
  <h1>RECIPES</h1>
  <div class="card ranking row pl-5 pt-2 pb-2">
    <h4 class="ranking row mb-4">人気順</h4>
    <div class="rank-box row mx-auto">
      <% @ranks.each.with_index(1) do |recipe, i| %>
        <h6><%= i %>位</h6>
        <div class="card mx-5">
          <%= link_to public_recipe_path(recipe.id) do %>
            <%= attachment_image_tag recipe.recipe_images[0], :image,:fill,180,180 %>
          <% end %>
          <div class="average-review-rating-index mt-2" data-score=<%= recipe.recipe_comments.average(:rating)&.round(2) %>></div>
          <%= link_to public_recipe_path(recipe.id) do %>
            <h5 class="text-success mt-3"><%= recipe.name %></h5>
          <% end %>
          <i class="fas fa-thumbs-up" style="color: #17a2b8;"><%= recipe.my_recipes.count %></i>
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'public/recipes/recipe_index.html.erb',recipes: @search_recipes %>
</div>


