<div class="container">
 <div class="row mt-4 mb-4">
  <div class="mx-auto">
    <h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field row mt-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control email" %>
  </div>

  <div class="field row mt-4 ">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード6文字以上", class: "form-control email" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
