<div class="container mt-3 mb-5">
  <div class="card">
  <div class="row">
      <div class="col-md-6">
        <%= attachment_image_tag @restaurant,:image,:fill,500,500 %>
      </div>
      <div class="col-md-6">
        <h2 class="mx-3">
          <%=@restaurant.name%>
        </h2>
        <h4><%= @restaurant.business_start %>～<%= @restaurant.business_finish %></h4>
        <h7 class="mx-2 mt-5">
          <%=@restaurant.description%>
        </h7>
        <h5 class="mt-5 mx-2">
          <%= @restaurant.prefecture_name %><%= @restaurant.address_city %><%= @restaurant.address_street %><%=@restaurant.address_building %>
        </h5>
        <div id="favorite_buttons_<%= @restaurant.id %>">
          <%= render 'public/my_restaurants/favorite',restaurant: @restaurant %>
        </div>
      </div>
  </div>

  <div class="row mt-3 pl-3">
    <div class="average-review-rating" data-score=<%= @average_rating %>></div>
    <span class="mx-4"><h4><%= @average_rating %></h4></spann>
  </div>
   <style>
     #map{
       height: 250px;
       width:300px;
     }
   </style>

   <script type="text/javascript">
      let map;
      function initMap() {
        geocoder = new google.maps.Geocoder()
        map = new google.maps.Map(document.getElementById('map'), {
          center: {
                    lat: gon.restaurant.latitude,
                    lng: gon.restaurant.longitude
                },
        zoom: 16,
      });

      marker = new google.maps.Marker({
        position: {
                     lat: gon.restaurant.latitude,
                     lng: gon.restaurant.longitude
                  },
        map: map
      });
    }
  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlliASppOVeUhaIMBPlOO1gO5B7AkWw8k&callback=initMap" async defer></script>
  </div>


  <div class="row mt-5">
    <h4 class="text-left title">レビュー</h3>
        <%#= render "public/restaurant_comments/comment", restaurant_comments: @restaurant_comments %>
  </div>
  <table class="table">
    <% @restaurant_comments.each do |comment|%>
      <%= comment.user.nickname %>
      <%= comment.text %>
      <div class="rating_stars" data-score="<%= comment.rating %>"></div>
      <% if comment.user==current_user %>
        <%= link_to public_restaurant_restaurant_comment_path(@restaurant,comment.id),method: :delete, local: true do %>
          <i class="fas fa-trash" style="color : black;"></i>
        <% end %>
      <% end %>
    <% end %>
  </table>
  <script>
    $('.rating_stars').raty({
      readOnly: true,
        score: function() {
      　return $(this).attr('data-score');
        },
          path: '/assets/'
    });
   </script>



  <div class="row">
    <div class="comment_form col-6">
    <%= form_with model: [:public, @restaurant, @restaurant_comment],local: true do |f| %>
      <%= f.text_area :text, placeholder: 'コメントをここに', size: "50x10" %>
      <div id="rating_stars">
        <label>評価</label>
      </div>
      <div class="action mt-3">
        <%= f.submit 'コメントする' %>
      </div>
    <% end %>
    </div>
    <script>
      $('#rating_stars').raty({
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'restaurant_comment[rating]' //登録するモデル名とカラム名を記述
      });
    </script>

  <div class="d-flex flex-wrap cock_recipe col-6">
    <% @recipes.each do |recipe| %>
      <%= link_to public_recipe_path(recipe.id) do %>
        <div class="card mt-2 row mx-2">
        <%= attachment_image_tag recipe.recipe_images[0], :image,:fill,120,120 %>
        <p class="text-success"><%= recipe.name %></p>
      <% end %>
      </div>
    <% end %>
  </div>
  </div>
</div>


