<div class="container mt-3 mb-5">
  <div class="card">
    <div class="row p-md-4">
      <div class="col-md-6">
        <%= attachment_image_tag @restaurant,:image,:fill,450,500,format: 'jpeg',fallback: "795px-No_image.jpg",size:'450x500' %>
      </div>
      <div class="col-md-6">
        <h2 class="mx-3">
          <%=@restaurant.name%>
        </h2>
        <div class="row mx-3">
          <div class="average-review-rating-index" data-score=<%= @average_rating %>></div>
          <span class="mx-4"><h4><%= @average_rating %></h4></spann>
        </div>
        <%= render 'layouts/raty_index' %>
        <h4 class="mx-3"><%= @restaurant.business_start.strftime("%H:%M") %>～<%= @restaurant.business_finish.strftime("%H:%M") %></h4>
        <h7 class="mx-2 mt-5">
          <%=@restaurant.description%>
        </h7>
        <h5 class="mt-5 mx-2">
          <%= @restaurant.prefecture_name %><%= @restaurant.address_city %><%= @restaurant.address_street %><%=@restaurant.address_building %>
        </h5>
        <div id="map"></div>
      </div>
      <div id="favorite_buttons_<%= @restaurant.id %>">
          <%= render 'public/my_restaurants/favorite',restaurant: @restaurant %>
      </div>
    </div>
    <style>
      #map{
        height: 250px;
        width: 350px;
            }
    </style>
    <script type="text/javascript">
      let map;
      function initMap() {
        geocoder = new google.maps.Geocoder()
        map = new google.maps.Map(document.getElementById('map'), {
          center: {
                    lat: gon.restaurant.latitude,
                    lng: gon.restaurant.longitude
                   },
          zoom: 16,
        });

        marker = new google.maps.Marker({
          position: {
                       lat: gon.restaurant.latitude,
                       lng: gon.restaurant.longitude
                    },
          map: map
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map_api_key %>&callback=initMap" async defer></script>
  </div>


  <div class="row mt-5">
    <h4 class="col-md-3">Comments</h4>
  </div>
  <div class="row justify-content-between">
    <div class="col-md-6">
      <% @restaurant_comments.each do |comment| %>
        <div class="comment-index border-bottom">
          <ul style="list-style:none;">
            <li><%= comment.user.nickname %></li>
            <li><%= comment.text %></li>
            <li><div class="rating_stars" data-score="<%= comment.rating %>"></div></li>
            <% if comment.user==current_user %>
              <%= link_to public_restaurant_restaurant_comment_path(@restaurant,comment.id),method: :delete, local: true do %>
                <li><i class="fas fa-trash" style="color : black;"></i></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    <%= render 'layouts/raty_score' %>



   <div class="row offset-md-1 mt-5">
     <%= form_with model: [:public, @restaurant, @restaurant_comment],local: true do |f| %>
      <%= f.text_area :text, placeholder: 'コメントをここに', size: "30x5" %>
      <div id="rating_stars">
        <label>評価</label>
      </div>
      <div class="action mt-3">
        <%= f.submit 'コメントする' %>
      </div>
    <% end %>

    <script>
      $('#rating_stars').raty({
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'restaurant_comment[rating]' //登録するモデル名とカラム名を記述
      });
    </script>
      </div>
    </div>


     <div class="col-md-4">
       <h6>< Recipes ></h6>
         <div class="row h-50 d-flex flex-wrap">
      <% @recipes.each do |recipe| %>
        <div class="mt-2 mx-2">
          <%= link_to public_recipe_path(recipe.id) do %>
            <%= attachment_image_tag recipe.recipe_images[0], :image,:fill,120,120,format: 'jpeg',fallback: "795px-No_image.jpg",size:'120x120' %>
            <p class="text-success"><%= recipe.name %></p>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>


