<div class="container">
  <div class="row">
    <h2>店舗登録</h2>
     <%=form_with model: @restaurant,local: true do |f|%>
    <div class="form">
      <%=f.label :image,'店舗画像'%>
      <%=f.attachment_field :image%>
    </div>
    <div class="form">
      <%=f.label :name,'店舗名'%>
      <%=f.text_field :name%>
    </div>
      <%=f.label :post_code, '郵便番号'%>
      <%=f.text_field :post_code,autocomplete:'post_code', class: 'form-control' %>
      <%=f.label :prefecture_name, '都道府県'%>
      <%=f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code,:name,{prompt: '選択してください'},class:'form-control'%>
  　　<%=f.label :address_city,'市区町村'%>
  　　<%=f.text_field :address_city, autocomplete: 'address_city', class: 'form-control'%>
      <%=f.label :address_street, '番地'%>
      <%=f.text_field :address_street, autocomplete: 'address_street', class: 'form-control'%>
      <%=f.label :address_building, '建物'%>
      <%=f.text_field :address_building, autocomplete: 'address_building', class: 'form-control'%>
      <%=f.submit '店舗を登録する'%>
      <%end%>
  </div>
</div>