<div class="container">
  <div class="row">
    <h2>店舗登録</h2>
  </div>
  <%= form_with model: @restaurant,local: true do |f| %>
    <%=f.label :image,'店舗画像'%>
    <%= attachment_image_tag @restaurant, :image,:fill,450,380,format: 'jpeg',fallback: "795px-No_image.jpg",size:'450x380',id:"preview" %>
    <%=f.attachment_field :image%>
    <div class="form">
      <%=f.label :name,'店舗名'%>
      <%=f.text_field :name, autocomplete: 'name', class: 'form-control'%>
    </div>
      <%=f.label :postcode, '郵便番号'%>
      <%=f.text_field :postcode, autocomplete: 'post_code', class: 'form-control' %>
      <%=f.label :prefecture_name, '都道府県'%>
      <%=f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code,:name,{prompt: '選択してください'},class:'form-control'%>
  　　<%=f.label :address_city,'市区町村'%>
  　　<%=f.text_field :address_city, autocomplete: 'address_city', class: 'form-control'%>
      <%=f.label :address_street, '番地'%>
      <%=f.text_field :address_street, autocomplete: 'address_street', class: 'form-control'%>
      <%=f.label :address_building, '建物'%>
      <%=f.text_field :address_building, autocomplete: 'address_building', class: 'form-control'%><br/>
      <%=f.submit '店舗を登録する'%>
  <%end%>
</div>