<div class="container mt-3 mb-5">
  <h1>店舗情報</h1>
  <table class="table border mt-5">
    <tr>
      <td>店舗画像</td>
      <td><%= attachment_image_tag @restaurant, :image,:fill,300,350 %></td>
    </tr>
      <tr>
        <td>店舗名</td>
        <td><%= @restaurant.name %></td>
      </tr>
      <tr>
        <td>営業時間</td>
        <td><%= @restaurant.business_start %>～<%= @restaurant.business_finish %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= @restaurant.prefecture_name %><%= @restaurant.address_city %><%= @restaurant.address_street %><%= @restaurant.address_building %></td>
      </tr>
      <tr>
        <td>地図</td>
        <td><div id="map"></div></td>
        <style>
          #map{
            height: 250px;
            width:300px;
          }
   </style>
        <script type="text/javascript">
          let map;
          function initMap() {
            geocoder = new google.maps.Geocoder()
            map = new google.maps.Map(document.getElementById('map'), {
              center: {
                        lat: gon.restaurant.latitude,
                        lng: gon.restaurant.longitude
                      },
              zoom: 16,
            });

            marker = new google.maps.Marker({
              position: {
                           lat: gon.restaurant.latitude,
                           lng: gon.restaurant.longitude
                        },
              map: map
            });
          }
        </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlliASppOVeUhaIMBPlOO1gO5B7AkWw8k&callback=initMap" async defer></script>
      </tr>
      <tr>
        <td>お気に入り数</td>
        <td><i class="fas fa-thumbs-up"><%= @restaurant.restaurant_comments.count %></i></td>
        <td>評価</td>
        <td><div class="average-review-rating" data-score=<%= @average_rating %>></div></td>
        
      </tr>
  </table>

  <table class="table border">
    <tr>
      <td><h3 class="row mt-5 pl-2"><コメント一覧></h3></td>
    </tr>
    <% @comments.each do |comment| %>
      <div class="container-comment ">
        <tr>
        <td class="pl-5">
          <%= comment.user.nickname %>:
          <%= comment.text %>
        </td>
        <td>
          <div class="rating_stars" data-score="<%= comment.rating %>"></div>
        </td>
        </tr>
      </div>
    <% end %>
  </table>
</div>

