<% provide(:title,"#{@restaurant.name}")%>
<div class="container mt-3 mb-5">
  <h1>店舗情報</h1>
  <table class="table border mt-5">
    <tr>
      <td>店舗画像</td>
      <td><%= attachment_image_tag @restaurant, :image,:fill,300,350,format: 'jpeg',fallback: "795px-No_image.jpg",size:'300x300' %></td>
      <td>
        <%= link_to edit_restaurant_path(@restaurant.id) do%>
          <i class="fas fa-edit"></i>
        <% end %>
        |
        <%= link_to restaurant_path(@restaurant.id),method: :delete do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>店舗名</td>
      <td><%= @restaurant.name %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>営業時間</td>
      <td>
        <%= @restaurant.business_start.strftime("%H:%M") %>～<%= @restaurant.business_finish.strftime("%H:%M") %>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>住所</td>
      <td>
        <%= @restaurant.prefecture_name %><%= @restaurant.address_city %><%= @restaurant.address_street %><%= @restaurant.address_building %>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>地図</td>
      <td><div id="map"></div></td>
      <td></td>
      <td></td>

      <script type="text/javascript">
        let map;
        function initMap() {
          geocoder = new google.maps.Geocoder()
          map = new google.maps.Map(document.getElementById('map'), {
            center: {
                      lat: gon.restaurant.latitude,
                      lng: gon.restaurant.longitude
                    },
            zoom: 16,
          });

          marker = new google.maps.Marker({
            position: {
                         lat: gon.restaurant.latitude,
                         lng: gon.restaurant.longitude
                      },
            map: map
          });
        }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>
    </tr>
    <tr>
      <td>お気に入り数</td>
      <td><i class="fas fa-thumbs-up"><%= @restaurant.restaurant_comments.count %></i></td>
      <td>評価</td>
      <td><div class="average-review-rating-index" data-score=<%= @average_rating %>></div></td>
    </tr>
  </table>
  <%= render "layouts/raty_index" %>

  <h4 class="row mt-5">Comments</h4>
  <% @comments.each do |comment| %>
    <div class="comment-index border-bottom">
      <ul style="list-style:none;">
        <li><%= comment.user.nickname %></li>
        <li><%= comment.text %></li>
        <li><div class="rating_stars" data-score="<%= comment.rating %>"></div></li>
      </ul>
    </div>
  <% end %>
</div>
<%= render "layouts/raty_score" %>

