<!DOCTYPE html>
<html>
  <head>
    <title>Meshipro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

     <%= render "layouts/header"%>

    <p class="notice page-title pl-1"><%= notice %></p>
    <p class="alert page-title pl-1"><%= alert %></p>

    <%= yield %>
    <%= render "layouts/footer"%>
  </body>
  </body>
</html>
