<!DOCTYPE html>
<html>
  <head>
    <title>Meshipro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  </head>

  <body>
    <div class="box">
      <%= render "layouts/header" %>
      <%= render "layouts/search" %>
      <div class="main">
        <p class="notice page-title pl-1"><%= notice %></p>
        <p class="alert page-title pl-1"><%= alert %></p>
        <%= yield %>
      </div>
      <%= render "layouts/footer"%>
    </div>
  </body>
</html>
